[ -f /etc/profile ] && source /etc/profile
PGDATA=/var/lib/postgresql/{{ version }}/main
export PGDATA
export PATH="$PATH:/usr/lib/postgresql/{{ version }}/bin"
export PS1="[\u@\h \W]\\$ "
# If you want to customize your settings,
# Use the file below. This is not overridden
# by the RPMS.
[ -f /var/lib/postgresql/.pgsql_profile ] && source /var/lib/postgresql/.pgsql_profile
alias ssh='ssh -o StrictHostKeyChecking=no'
alias scp='scp -o StrictHostKeyChecking=no'
alias rsync='rsync -e "ssh -o StrictHostKeyChecking=no"'
